main {
  display: flex;
}

.screen {
  height: 100vh;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

div {
  display: inline-block;
}

#one {
  border-right: 1px solid gray;
}

.one .arm, .one .body {
  background: #fd9aea;
}

.two .arm, .two .body {
  background: #9afdb1;
}

.player {
  position: absolute;
  bottom: 0;
  transition: all 0.125s ease;
}

.player.attack {
  transform: scale(0.85);
}

.arm {
  width: 8vh;
  height: 30vh;
  transition: all 0.125s ease;
}

.body {
  width: 24vh;
  height: 50vh;
  transition: all 0.125s ease;
}

.opponent {
  top: 0vh;
  transform: scaleX(-0.5) scaleY(0.5);
  z-index: -1;
}

.opponent.attack {
  top: 25vh;
  transform: scaleX(-0.75) scaleY(0.75);
}

/* Animations */
.duck {
  transform: translatey(10vh);
}

.dodgeLeft {
  transform: translatex(-20vh);
}

.dodgeRight {
  transform: translatex(20vh);
}

.defendLeft {
  transform: translatey(-30vh) rotate(45deg);
}

.defendRight {
  transform: translatey(-30vh) rotate(-45deg);
}

.jab {
  transform: translatey(-25vh);
}

.opponent .jab {
  transform: translatey(-10vh);
}

.uppercut {
  transform: translatey(-35vh);
}

.jump {
  transform: translatey(-10vh);
}

.shake {
  animation: shake 0.1s ease-in-out 0.1s infinite alternate;
}

@keyframes shake {
 from {
   transform: rotate(5deg);
 }
 to {
   transform: rotate(-5deg);
 }
}
